
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:linear-gradient(to left,rgb(124, 122, 122),rgb(255, 255, 255));
}
.navbar-nav:hover > .nav-link{
    opacity:0.2;
}
.navbar-nav:hover > .nav-link:hover{
    opacity:1;
}
.nav-link:hover{
    color:rgb(0, 0, 0)!important;
}
.navbar-brand:hover{
    color:rgb(0, 0, 0)!important;
}
.nav-link{
    color:white!important;
}
.navbar-brand{
    color:white!important;
}
.carousel-item{
    height:28rem;
    background:rgb(0, 0, 0);
    color:white;
    position:relative; 

    
}
.container1{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px;
}
.images{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    opacity:0.5;
    background-size:cover;
    background-position:center;
    
}

main{
    
    padding-top: 56px;
    padding-bottom: 76px;
}
.images2{
    height:15rem;
    width:100%;
    background-size:cover;
    background-position:center;
    border-top-left-radius: 2rem;
    border-top-right-radius:2rem;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
}
.card{ 
    margin: 10px 2px 10px 2px;
    border-radius:2rem;
}
.navbar{
    background-image: linear-gradient(to left, rgb(95, 244, 137),rgb(17, 81, 18) );
}
.navbar-text{
    color:white!important;
}

#myTab{
    background-color:rgb(78, 90, 76);
}
#myTab .nav-link:hover{
    background-color:rgb(42, 156, 22);
}
#myTab .active{
    background-color:rgb(47, 54, 46);
}
